<div class="animated fadeIn">
    <div style="text-align:center">
        <img src="logo.png"/>
    </div>

    <div>
        <div>
            <p style="text-align:center">Welcome to SecureD</p><br>
            <div style="padding-left:36%;">
                <div>Please enter your email-id</div>
                <input style=" background-color: transparent;border: 0;border-bottom: 1px solid white;width: 50%;"  type="text" ng-model="email" /><br>
                
                <div>Please enter your password</div>
                <input type="password" style=" background-color: transparent;border: 0;border-bottom: 1px solid white;width: 50%;" ng-model="password" />
                <br>
                <br>
                <button class="btn primary" ng-click="goToConfirmation()">Submit</button>
            </div>
        </div>
    </div>
    <br><br>

</div>
