<div class="animated fadeIn">
        <div style="text-align:center">
                <img src="logo.png"/>
        </div>
          <div ng-if="!processed %% !error">
              <div>
                  <p style="padding-left:2%;padding-right:2%;text-align:center">3rd Party Application wants to access the following documents. Please select the documents you want to share</p><br>
                  <div style="padding-left:36%;" ng-repeat="doc in docs">
                      <div><input type="checkbox">{{doc}}</input></div>
                  </div>
                  <br><br>
                  <div style="text-align:center;padding-left:2%;padding-right:2%;">
                  <i>Approving the request, would allow the 3rd Party Application to gain access on the above mentioned documents</i>
                </div>
                  <br>
                  <div class="row" style="text-align: center">
                  <button class="btn-primary" ng-click="reject()">Reject</button>
                  <button class="btn-primary" ng-click="approve()">Approve</button>
                </div>
              </div>
          </div>
          <br><br>

      
        <div style="text-align:center;" ng-if="processed">
              <img style="width:50px; height:50px;" src="redirecting.gif" /><br>
              Navigating you to the merchant site
        </div>

        <div ng-if="error" class="active-text">
          Something went wrong!!
        </div>
      
      </div>