
<div class="animated fadeIn">
  <div ng-if="initial === true">
    <div>
        <div>
            <p style="text-align:center">Please upload the following documents</p><br>
            <div style="text-align:center" class="row">
                <div class="six columns">Passport</div>
                <div class="six columns"><button class="btn-primary">Upload</button></div>
            </div>
        </div>
    </div>
    <br><br>
    <div style="text-align:center">OR</div>
    <div style="text-align:center">
        <div style="display:block">Upload using SecureD</div>
        <button class="btn-primary"> 
            <img ng-click="redirectToAuthentication()" style="height: 90%;" src="logo.png"/>
        </button>
    </div>
  </div>

  <div style="text-align:center;" ng-if="!initial">
        <img style="width:50px; height:50px;" src="redirecting.gif" /><br>
        Redirecting to SecureD page
  </div>

</div>
